@import '~variables';
@import '~mixins';

.Wizard {
  position: fixed;
  z-index: 99;
  top: 200px;
  width: 226px;
  min-height: 100px;

  &__close {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 0;
    cursor: pointer;
    color: $color-gray-dark;
    border: 0;
    outline: none;
    background: transparent;

    &:hover {
      color: $primary-color;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 10px 10px 0 10px;
    transform: translate(22px, -50px);
    border: solid 1px #d9d9d9;
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .15);
  }

  &__title {
    margin-bottom: 4px;
    letter-spacing: normal;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }

  &__description {
    margin-bottom: 15px;
    color: #4d4d4d;
    font-size: 12px;
    line-height: 1.25;
  }

  &__tips {
    margin: 0 -10px;
    padding: 10px;
    color: #4d4d4d;
    background-color: #fffde6;
    font-size: 12px;
    line-height: 1.25;
  }

  &__pin {
    position: fixed;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: -7px;
    transform: translate(-7px, 0);
    border-radius: 50%;
    background: #1787fc;
    box-shadow: 0 0 0 2px rgba(white, 2px);

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 30px;
      height: 1px;
      content: '';
      background: #1787fc;
    }

    &::after {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      animation: pulse 2s infinite;
      border-radius: 50%;
      background: #1787fc;
      box-shadow: 0 0 0 rgba(23, 135, 252, .4);
    }
  }

  &__show-button {
    position: fixed;
    right: 120px;
    bottom: 0;
    display: flex;
    height: 47px;
    margin: 10px 20px;
    padding: 0 20px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 25px;
    outline: none;
    background-color: $primary-color;
    font-weight: 700;
    align-items: center;

    i {
      margin-right: 10px;
      font-size: 23px;
    }

    &:hover {
      background-color: #339dff;
    }
  }
}
